{% if nginx_default_headers is defined and nginx_default_headers | length >0 %}
{% for header in nginx_default_headers %}
proxy_set_header "{{ header.name }}" "{{ header.value }}";
{% endfor %}
{% endif %}
{% if nginx_default_response_headers is defined and nginx_default_response_headers | length >0 %}
{% for header in nginx_default_response_headers %}
add_header "{{ header.name }}" "{{ header.value }}";
{% endfor %}
{% endif %}