{% if nginx_maps is defined and nginx_maps | length > 0 %}
{% for map in nginx_maps %}
{% if map.lines | length > 0 %}
map {{ map.rule }} {
{% for line in map.lines %}
    {{ line }};
{% endfor %}
}

{% endif %}
{% endfor %}
{% endif %}

{% if nginx_dns_resolver is defined %}
resolver {{ nginx_dns_resolver }};
{% endif %}
