map $http_host $local_domain {
{% for map in nginx_map_domains %}
    {{ map.ext_domain }} {{ map.local_domain }};
{% endfor %}
}

map $local_domain $local_scheme {
        default "http://";
{% for map in nginx_map_domains_scheme %}
    {{ map.local_domain }} {{ map.local_scheme }};
{% endfor %}
}

map $local_domain $local_port {
        default "80";
{% for map in nginx_map_domains_lports %}
    {{ map.local_domain }} {{ map.local_port }};
{% endfor %}
 }

{% if nginx_dns_resolver is defined %}
resolver {{ nginx_dns_resolver }};
{% endif %}
