{% for key,value in nginx_config_basic.items() %}
{{ key }} {{ value }};
{% endfor %}


events {
    worker_connections  {{ nginx_worker_connections }};
}


http {

{% for key, value in nginx_config_http.items() %}
    {{ key }}  {{ value }};
{% endfor %}


}
