{% for key,value in nginx_config_basic.iteritems() %}
{{ key }} {{ value }};
{% endfor %}


events {
    worker_connections  {{ nginx.worker_connections }};
}


http {

{% for key, value in nginx_config_http.iteritems() %}
    {{ key }}  {{ value }};
{% endfor %}


}
