{% for option in nginx_config_basic %}
{{option.key}}  {{ option.value }};
{% endfor %}


events {
    worker_connections  {{ nginx.worker_connections }};
}


http {

{% for option in nginx_config_http %}
    {{option.key}}  {{ option.value }};
{% endfor %}


}
