[Unit]
After=network-online.target remote-fs.target nss-lookup.target systemd-resolved.service
Wants=network-online.target systemd-resolved.service

[Service]
LimitNOFILE={{ nginx_systemd_nofile }}
ExecStartPre=/bin/sleep 10
{% if nginx_systemd_restart %}
Restart={{ nginx_systemd_restart }}
RestartSec={{ nginx_systemd_restart_sec }}
{% endif %}
